<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLNV.Properties.Settings.NHOM3_QLNSConnectionString"
            connectionString="Data Source=HA-TRONG-PHAN\SQLEXPRESS;Initial Catalog=QLNV;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>